.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
.red {
    color: red;
}
table {
    table-layout: fixed;
}
tr > td {
    padding: 10px 0 !important;
}
.concept {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
